html {
	height:100%;
	width:100%;
	overflow-x:hidden;
}

/* The body does has no x-overflow so that the content can slide horizontally withohut the user seeing it off screen */
body {
	height:100%;
	max-width:100%;
	overflow-x:hidden; 
	background-color:#ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:1.4em;
	color:#585858;
	background-image:url('../images/header-bg.png');
	background-size:cover;
	background-repeat:repeat-x;
	position:relative;
}

p {
	margin:0.4em 0 0 0;
}

h1 {
	font-size:1.8em;
	font-weight:normal;
	color:#FFFFFF;
	padding:1em;
	font-family: arial;
	line-height:2.4em;
}

h2 {
	font-size:1.5em;
	font-weight:normal;
	color:#FFFFFF;
	padding:2em;
	font-family: arial;
	line-height: 1.8em;
}

/* Overall width is 5 panels or sections that slide left/right. This is equal to 5x100% width */
article {
	width:500%;
	clear:both;
	position:relative;
}

section {
	width:20%;
	float:left;
}

/* The footer does not slide, so only needs to be the width of the app */
footer {
	width:100%;
	padding:1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

footer p {
	font-size:0.8em;
	width:50%;
	float:left;
}

/* Class styles */

.result-screen {
	padding:1em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;	
}

.heading {
	font-size:1.8em;
	line-height:2em;
	text-align:center;
}

.main-section {
	height:15em;
	padding:1em 1em 2em 1em;
	display:block;
	float:left;
	overflow-y:hidden;
	position:relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

.button, .button:hover, .button:visited {
	text-align:center;
	background-image:url('../images/header-bg.png');
	border: 1px solid #656565;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	margin:0.5em auto;
	display:block;
	width:10em;
	padding:0.6em;
	font-size:1.4em;
	font-weight:bold;
	color:#FFFFFF;
	text-decoration:none;
}

.number-input{
	width:6em;
}

.sub-section {
	width:100%;
	height:100%;
	padding:0.6em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #656565;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border-radius: 0.5em;
	background:#FFFFFF;
	display:inline-block;
	-moz-box-shadow: 0px 0px 10px #BCBCBC;
	-webkit-box-shadow: 0px 0px 10px #BCBCBC;
	-o-box-shadow: 0px 0px 10px #BCBCBC;
	box-shadow: 0px 0px 10px #BCBCBC;
}

/* InfoWindow is the window that pops up to diusplay information about properties within Google Maps */
.infoWindow {
	font-size:0.6em;
	color:#585858;
}

.result {
	font-size:1.4em;
}

.results {
	font-size:1.8em;
	line-height:1.8em;
	text-align:center;
}

.gas-result, .elec-result {
	font-size:1.4em;
}

.info {
	font-size:1.2em;
}


/* Styles for particular objects */

#top {
	left:-200%;
}

#middle {
	left:-200%;
}

#bottom {
	left:-200%;
}

#results {
	font-size:2em;
	line-height:2em;
}

#mainLinks {
	width:75%;
	text-align:center;
	font-weight:700;
	margin:0 auto;
}

#mainLinks a {
	color:#FFFFFF;
	font-size:1.5em;
	line-height:1.5em;
}

#bp1-back, #bp2-back {
	color:#FFFFFF;
	font-size:1.4em;
	font-weight:700;
	line-height:1.6em;
	float:right;
}

#op1-back, #op2-back{
	color:#FFFFFF;
	font-size:1.4em;
	font-weight:700;
	line-height:1.6em;
	float:left;
	
}

#homeImage {
	width:15em;
	height:15em;
	background-image:url('../images/home.png');
	background-size:contain;
	margin:0 auto;
}

/* Hide the second part of the form until it is needed - this is changed by JavaScript */
#owner-form2 {
	display:none;
}

#map-canvas {
	position:relative;
	height:100%;
}

#logos {
	width:45%;
	float:right;
	text-align:right;
}