extends layout

block headerScripts
    script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")

block content

    div(id="controls" class="container-fluid")

        div(class="row")
            div(class="col-md-12")
                h1= title
                    small= subtitle

        nav(class="navbar navbar-default navbar-main")
            div(class="container-fluid")
                div(class="navbar-header")
                    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false")
                        span(class="sr-only") Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    span(class="navbar-brand fa fa-calculator fa-lg")
                        
                div(class="collapse navbar-collapse" id="navbar-collapse-1" aria-expanded="true")
                    ul(class="nav navbar-nav")
                        li(role="presentation" data-bind="css: {active: isOwner}")
                            a(class="btn btn-link" data-bind="click: setOwner") Owner
                        li(role="presentation" data-bind="css: {active: !isOwner()}")
                            a(class="btn btn-link" data-bind="click: setBuyer") Buyer

        div(class="row show-grid")
            
            div(class="col-md-12")
                div(class="panel panel-default")
                    div(class="panel-heading result-panel")
                        h2(data-bind="html: resultHeaderText")
                        button(type="button" class="btn btn-link badge fa fa-info tariff-details-button" data-bind="click: toggleTariffDetails")
                        div(class="progress")
                            div(class="progress-bar progress-bar-danger" style="width: 25%")
                                span(class="sr-only") Very Low Accuracy
                            div(class="progress-bar progress-bar-danger" style="width: 25%")
                                span(class="sr-only") Low Accuracy
                            div(class="progress-bar progress-bar-warning" style="width: 25%")
                                span(class="sr-only") Medium Accuracy
                            div(class="progress-bar progress-bar-success" style="width: 25%")
                                span(class="sr-only") high Accuracy
                    div(class="panel-body" data-bind="visible: showTariffDetails")
                        span(data-bind="html: resultBodyText")
                            
            div(class="col-md-6")
                div(class="panel panel-default")
                    div(class="panel-body")
                        div(data-bind="visible: isOwner")
                            form(id="owner-form")
                                div(class="form-group")
                                    h3 Current property
                                    label(for="regionList") Select the region:
                                    select(id="regionList" class="form-control" data-bind="value: regionCode, options: regions, optionsText: 'regionName', optionsValue: 'regionCode', optionsAfterRender: setOptionDisable")
                                div(class="form-group")
                                    div(class="radio")
                                        label
                                            input(type="radio" name="ownerKnowsUsage" id="ownerKnowsUsage" value="1" checked data-bind="checked: ownerKnowsUsage") 
                                            | I know my current energy usage.
                                    div(class="radio")
                                        label
                                            input(type="radio" name="ownerKnowsUsage" id="ownerDoesntKnowUsage" value="0" data-bind="checked: ownerKnowsUsage")
                                            | Help me estimate my current energy usage.
                                div(data-bind="visible: ownerKnowsUsage() == '1'")
                                    div(class="form-group")
                                        label(for="currentGasUsage") Gas Usage:
                                        div(class="input-group")
                                            div(class="input-group-addon")
                                                span(class="fa fa-fire fa-lg gas-icon")
                                            input(id="currentGasUsage" type="number" class="form-control" data-bind="value: currentGasUsage")
                                            div(class="input-group-addon") kWh
                                    div(class="form-group")
                                        label(for="currentGasUsage") Electricity Usage:
                                        div(class="input-group")
                                            div(class="input-group-addon")
                                                span(class="fa fa-bolt fa-lg elec-icon")
                                            input(id="currentElecUsage" type="number" class="form-control" data-bind="value: currentElecUsage")
                                            div(class="input-group-addon") kWh
                                div(data-bind="visible: ownerKnowsUsage() == '0'")
                                    div(class="form-group")
                                        label(for="propertyTypeList") Property Type:
                                        select(id="propertyTypeList" class="form-control" data-bind="value: propertyType, options: propertyTypes, optionsCaption: 'Please select a property type.'")
                                    div(class="form-group")
                                        label(for="numberBedroomsList") Number of Bedrooms:
                                        select(id="numberBedroomsList" class="form-control" data-bind="value: numberOfBedrooms, options: numberOfBedroomsOptions, optionsCaption: 'Please select the number of bedrooms.'")
                                    div(class="form-group")
                                        label(for="propertyAgeList") Property Age:
                                        select(id="propertyAgeList" class="form-control" data-bind="value: propertyAge, options: propertyAges, optionsCaption: 'Please select the age of your property.'")
                                    div(class="form-group")
                                        div(class="radio")
                                            label
                                                input(type="radio" name="hasGas" id="hasGas" value="1" checked data-bind="checked: hasGas") 
                                                | Has Gas.
                                        div(class="radio")
                                            label
                                                input(type="radio" name="hasGas" id="hasNoGas" value="0" data-bind="checked: hasGas")
                                                | Does not have Gas.

                        div(data-bind="visible: !isOwner()")
                            form(id="buyer-form")
                                div(class="form-group")
                                    h3 Future property
                                    label(for="buyer-postcode") Enter the postcode:
                                    input(type="text" class="form-control" id="buyer-postcode" placeholder="Required" data-bind="value: buyerPostcode" required)
                                div(class="form-group")
                                    div(class="radio")
                                        label
                                            input(type="radio" name="buyerPlansTo" id="buyerPlansToBuy" value="sale" checked data-bind="checked: listingStatus") 
                                            | I plan to buy.
                                    div(class="radio")
                                        label
                                            input(type="radio" name="buyerPlansTo" id="buyerPlansToRent" value="rent" data-bind="checked: listingStatus")
                                            | I plan to rent.
                                div(class="form-group")
                                    button(type="button" class="btn btn-default btn-search" data-bind="click: propertySearch, disable: !buyerPostcode()") Search
                            div(id="map-canvas")
                                
            div(class="col-md-6" data-bind="visible: selectedProperty.selected")
                div(class="panel panel-default")
                    div(class="panel-body")
                        h3 Selected Property
                        div(class="selected-property")
                            table(class="table")
                                tbody
                                    tr
                                        th Address
                                        th
                                            span(data-bind="text: selectedProperty.displayable_address")
                                            span
                                                img(class="img-responsive img-thumbnail" data-bind="attr: {src: selectedProperty.image_url()}")
                                    tr
                                        th Description
                                        td(class="property-description")
                                            span(data-bind="html: selectedProperty.short_description")
                                            span
                                                a(data-bind="attr: {href: selectedProperty.details_url}") More...
                                    tr
                                        th Price
                                        td
                                            span(data-bind="text: selectedProperty.display_price")
                                
block scripts
    script(data-main="/scripts/main" src="/lib/requirejs/require.js")
